*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


.app{

}

#storageSizeInput, #transferSizeInput{
    position: relative;
    background-color: red;
}

#storageSizeInput::before, #transferSizeInput::before{
    content: "0";
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
}

#storageSizeInput::after, #transferSizeInput::after{
    content: "1000";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
}

/*---Chart---*/

.pricingChart{
    margin-top: 3rem;
    display: flex;
}

#chartServices, #chartColumns{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chartColumns{
    width: 60%;
    border-left: 0.5rem solid black;
}

.chartColumn{
    height: 20px;
    background-color: red;
    animation-name: columnResize;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.chartColumn.minPrice{
    background-color: black;
}

.chartColumn::before{
    content: "GG";
}



@keyframes columnResize{
    0%{
        width: 0%;
    }

    100%{
        width: calc(100% * var(--size));
    }
}